@*@model MotorGliding.Models.Other.WeatherInfo.Root*@
@model MotorGliding.Models.Enums.ForecastWeather.Rootobject
@*@model Nancy.Json.Simple.JsonObject*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("Main/_PreloaderPartialView")
@await Html.PartialAsync("Main/_HeaderPartialView")


<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>Pogoda</h2>
            </div>

        </div>
    </div>
</section>

@*<h1>@Model.name</h1>
    <h1>@Model.coord.lat</h1>
    <h1>@Model.dt</h1>
    <h1>@Model.main.temp</h1>
    <h1>@Model.sys.country</h1>
    <h1>@Model.wind.speed</h1>*@


@*@{var icon = ""; $"http://openweathermap.org/img/wn/{@Model.weather[0].icon}@2x.png";}*@
@*<img src="@icon"></img> Ikona*@

<section id="blog" class="weathergroup">
    <div id="monday">
        <div class="row">
            @for (int i = 3; i < 27; i += 8)
            {
                <div class="col-md-4">
                    <div class="weather-item">
                        <h1>@DateTime.Parse(Model.list[i].dt_txt).DayOfWeek</h1>
                        <div class="weather-icon">
                            @{var icon = $"http://openweathermap.org/img/wn/{@Model.list[i].weather[0].icon}@2x.png";}
                            <img src="@icon" alt="">
                        </div>
                        <h2>@Model.list[i].main.temp&deg;C</h2>
                        <ul class="time-weather">
                            <li>@DateTime.Parse(Model.list[i - 2].dt_txt).ToShortTimeString()<span>@Model.list[i - 2].main.temp&deg;C</span></li>
                            <li>@DateTime.Parse(Model.list[i - 1].dt_txt).ToShortTimeString() <span>@Model.list[i - 1].main.temp&deg;C</span></li>
                            <li>@DateTime.Parse(Model.list[i + 1].dt_txt).ToShortTimeString() <span>@Model.list[i + 1].main.temp&deg;C</span></li>
                            <li>@DateTime.Parse(Model.list[i + 2].dt_txt).ToShortTimeString() <span>@Model.list[i + 2].main.temp&deg;C</span></li>
                        </ul>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-md-2"></div>
            @for (int i = 28; i < 43; i += 8)
            {

                <div class="col-md-4">
                    <div class="weather-item">
                        <h1>@DateTime.Parse(Model.list[i].dt_txt).DayOfWeek</h1>
                        <div class="weather-icon">
                            @{var icon = $"http://openweathermap.org/img/wn/{@Model.list[i].weather[0].icon}@2x.png";}
                            <img src="@icon" alt="">
                        </div>
                        <h2>@Model.list[i].main.temp&deg;C</h2>
                        <ul class="time-weather">
                            <li>@DateTime.Parse(Model.list[i - 2].dt_txt).ToShortTimeString()<span>@Model.list[i - 2].main.temp&deg;C</span></li>
                            <li>@DateTime.Parse(Model.list[i - 1].dt_txt).ToShortTimeString() <span>@Model.list[i - 1].main.temp&deg;C</span></li>
                            <li>@DateTime.Parse(Model.list[i + 1].dt_txt).ToShortTimeString() <span>@Model.list[i + 1].main.temp&deg;C</span></li>
                            <li>@DateTime.Parse(Model.list[i + 2].dt_txt).ToShortTimeString() <span>@Model.list[i + 2].main.temp&deg;C</span></li>
                        </ul>
                    </div>
                </div>
            }

        </div>
    </div>

</section>

<section>
    <div id="openweathermap-widget-11"></div>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 11, cityid: '3081368', appid: '3da830a4d8a131e854ec8f7b49f61132', units: 'metric', containerid: 'openweathermap-widget-11', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
</section>
<div class="col-md-12">
</div>
@await Html.PartialAsync("Main/_FooterPartialView")
@await Html.PartialAsync("Main/_ScriptsPartialView")