@model IList<Event>
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Nasze propozycje</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-md-6 col-sm-6">
                    <!-- BLOG THUMB -->
                    <div class="media blog-thumb">
                        <div class="media-object media-left">
                            @if (item.Image != null)
                            { 
                                <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id"><img src="@($"../images/{item.Image.Name}")" class="img-responsive" alt="~/images/logo-2.png" width="238px" height="358px"></a>
                            }
                            else
                            {
                            <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id"><img src="~/images/logo-2.png" class="img-responsive" alt="Brak zdjęcia"></a>
                            }

                        </div>
                        <div class="media-body blog-info">
                            <small><i class="fa fa-clock-o"></i>Czas trwania @item.Duration min</small>
                            <h3><a href="blog-detail.html">@item.Title </a></h3>
                            <p>@item.Description</p>
                            <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id" class="btn section-btn">Szczegóły</a>
                        </div>
                    </div>
                </div>
            }


            @*<div class="col-md-6 col-sm-6">
                 BLOG THUMB 
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="images/blog-image2.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 18, 2017</small>
                        <h3><a href="blog-detail.html">woman sportwear.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                 BLOG THUMB 
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="images/blog-image3.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 14, 2017</small>
                        <h3><a href="blog-detail.html">new creative fashion.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read article</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                 BLOG THUMB 
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="images/blog-image4.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 10, 2017</small>
                        <h3><a href="blog-detail.html">minimalist design trend in 2018.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">View Detail</a>
                    </div>
                </div>
            </div>*@

        </div>
    </div>
</section>