@model IList<Event>
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Oferta lotów</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-md-6 col-sm-6">
                    <!-- BLOG THUMB -->
                    <div class="media blog-thumb">
                        <div class="media-object media-left">
                            @if (item.Image != null)
                            { 
                                <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id"><img src="@($"../images/{item.Image.Name}")" class="img-responsive" alt="~/images/logo-2.png" width="238" height="358"></a>
                            }
                            else
                            {
                            <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id"><img src="~/images/logo-2.png" class="img-responsive" alt="Brak zdjęcia"></a>
                            }

                        </div>
                        <div class="media-body blog-info">
                            <small><i class="fa fa-clock-o"></i>Czas trwania @item.Duration min</small>
                            <h3><a href="blog-detail.html">@item.Title </a></h3>
                            <p>@item.Description</p>
                            <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id" class="btn section-btn">Szczegóły</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>