@model CalendarViewModel
@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}


<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
    <div class="bg-white tm-block">
        <div class="row">
            <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Kalendarz</h2>
            </div>
        </div>
        <h1>@Model.DateTime.Month @Model.DateTime.Year</h1>


        @*<div class="fc-toolbar fc-header-toolbar>
                <div class="fc-left"><h2>@Model.Month @Model.Year</h2></div>
                <div class="fc-center"></div>
                <div class="fc-right">
                    <button type="button" class="fc-today-button fc-button fc-button-primary" asp-action="Index" asp-controller="Calendar" asp-route-dateTime="@DateTime.Now">today</button>
                    <div class="fc-button-group">
                        <button type="button" class="fc-prev-button fc-button fc-button-primary" aria-label="prev" asp-action="Index" asp-controller="Calendar" asp-route-dateTime="@Model.AddMonths(1)">
                            <span class="fc-icon fc-icon-chevron-left"></span>
                        </button>
                        <button type="button" class="fc-next-button fc-button fc-button-primary" aria-label="next" asp-action="Index" asp-controller="Calendar" asp-route-dateTime="@Model.AddMonths(1)">
                            <span class="fc-icon fc-icon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>*@

        <a asp-action="Calendar" asp-route-dateTime="@DateTime.Now">
            <button type="submit" class="fc-today-button fc-button fc-button-primary">today</button>
        </a>
        <div class="fc-button-group">
            <a asp-action="Calendar" asp-route-dateTime="@Model.DateTime.AddMonths(0-1)">
                <button type="submit" class="fc-prev-button fc-button fc-button-primary" aria-label="prev">
                    <span class="fc-icon fc-icon-chevron-left">poprzedni</span>
                </button>
            </a>
            <a asp-action="Calendar" asp-route-dateTime="@Model.DateTime.AddMonths(2)">
                <button type="submit" class="fc-next-button fc-button fc-button-primary" aria-label="next">
                    <span class="fc-icon fc-icon-chevron-right">nastepny</span>
                </button>
            </a>
        </div>

        <div>
            <table>
                <thead>
                <th>
                    @for (int i = 0; i < 6; i++)
                    {
                    <tr><span>@Model.DateTime.AddDays(i).DayOfWeek.ToString()</span></tr>
                }
                    </th>
                    </thead>
                    <tbody>
                        @{ var nextDay = 0;}
                        @for (int i = 0; i < 6; i++)
                        {

                            <tr>
                                @for (int j = 0; j < 7; j++)
                                {
                                    var day = Model.DateTime.AddDays(nextDay);
                                    if (day > DateTime.Now)
                                    {


                                        if (Model.Calendar.Any(d => d.Present.Equals(day)))
                                        {
                                            <td class="bg-info">
                                                <a class="fa-external-link-square" asp-action="CancelDay" asp-route-id="@Model.Calendar.First(d => d.Present.Equals(day)).Id" asp-route-currentCalendarDate="@day">
                                                    <span>@day.Day</span>

                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            {
                                                <td>
                                                    <a class="fa-external-link-square" asp-action="ReserveDay" asp-route-reserved="@day" asp-route-currentCalendarDate="@day">
                                                        <span>@day.Day</span>
                                                    </a>
                                                </td>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        if (Model.Calendar.Any(d => d.Present.Equals(day)))
                                        {
                                            <td class="bg-info">
                                                <span>@day.Day</span>
                                            </td>
                                        }
                                        else
                                        {
                                            {
                                                <td>
                                                    <span>@day.Day</span>
                                                </td>
                                            }
                                        }

                                    }
                                    nextDay++;
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="CleareReserved" asp-route-currentCalendarDate="@Model.DateTime">Wyczyśc wszystkie terminy</a>
            </div>
        </div>
    </div>



