@model Event
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("Main/_PreloaderPartialView")
@await Html.PartialAsync("Main/_HeaderPartialView")
<!-- BLOG HEADER -->
<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>@Model.Title</h2>
            </div>

        </div>
    </div>
</section>


<!-- BLOG DETAIL -->
<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <!-- BLOG THUMB -->
                <div class="blog-detail-thumb">
                    <div class="blog-image">
                        <img src="images/blog-detail-image.jpg" class="img-responsive" alt="Blog Image">
                    </div>

                    <h2>@Model.Description</h2>



                    @*@Model.ShowText("chyba sie udalo");*@
                    <blockquote>@Model.Info</blockquote>
                    @Html.Raw(Model.Info)

                    <p>Vivamus quis velit sed ante suscipit aliquam nec sed ex. Maecenas porta leo at mi suscipit congue. Donec ipsum metus, tristique eu leo ut, luctu Vivamus sit amet purus nec risus mollis tempor.</p>

                    <div class="blog-ads">
                        <h4>Blog Sample Advertising</h4>
                    </div>

                    <ul>
                        <li>Brand Identity ipsum dolor eget vestibulum justo imper diet.</li>
                        <li>Social Marketing porta leo at mi suscipit congue. Donec ipsum metus, tristique leo luctus.</li>
                        <li>Wordpress Themes augue vulputate voluptate neque, curabitur dolor vitae massa.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa.</p>
                    @*<form asp-action="Details" asp-controller="Order" class="form-group-lg">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Price" />
            <input type="hidden" asp-for="Title" />
            <div class="container">
                <div class="row">
                    <div class="col col-md-12 col-sm-12">
                        <h4>Dodaj do koszyka</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4 col-sm-12">
                        @Model.Title
                    </div>
                    <div class="col col-md-2 col-sm-6">
                        @Model.Price
                    </div>
                    <div class="col col-md-2 col-sm-6">
                        <input type="number" step="1" min="1" id="qty" name="quantity" />
                    </div>
                    <div class="col col-md-6 col-sm-12">
                        Suma<input id="sum" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Dodaj do koszyka</button>
        </form>*@

                    <div class="table-responsive">
                        <div class="col col-md-12 col-sm-12">
                            <h3>Dodaj do koszyka</h3>
                        </div>

                        <form asp-action="Details" asp-controller="Order">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Price" />
                            <input type="hidden" asp-for="Title" />
                            <table class="table table-hover table-striped tm-table-striped-even mt-3" id="tab">
                                <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col">Nazwa</th>
                                        <th scope="col">Cena</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Ilość</th>
                                        <th scope="col">Razem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="position">
                                        <th scope="row">
                                            @Model.Title
                                        </th>
                                        <td class="tm-product-name price"><input type="hidden" asp-for="@Model.Price" />@Model.Price</td>
                                        <td class="tm-product-name">&nbsp;</td>
                                        <td class="tm-product-name">&nbsp;</td>
                                        <td class="tm-product-name">&nbsp;</td>
                                        <td class="tm-product-name qty"><input type="number" step="1" min="1" id="qty" value="1" asp-for="@Model.Quantity" />@*<input type="number" min="1" step="1" asp-for="@Model." />*@</td>
                                        @*<td class="tm-product-name "><input type="checkbox" asp-for="@detail.Camera" /> 50 zł</td>*@
                                        <td class="tm-product-name part_sum">@Model.Price</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td scope="col" class="bg-warning"><b>Suma:</b></td>
                                        <td scope="col" class="bg-success"><b id="sum">@Model.Price</b></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-info">Dodaj do koszyka</button>
                        </form>

                    </div>

















                    <div class="blog-social-share">
                        <a href="javascript:history.back()" class="btn btn-primary">Wstecz</a>
                        @*<a asp-action="Calendar" asp-route-id="@Model.Id" class="btn btn-success"><i class="fa fa-twitter"></i>Sprawdź terminy</a>
            <a href="#contact" class="btn btn-danger"><i class="fa fa-google-plus"></i>Kontakt</a>*@
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>
            @*@await Html.PartialAsync("Main/_ContactPartialView")*@
            @await Html.PartialAsync("Main/_FooterPartialView")




            @*@await Html.PartialAsync("Main/_ModalPartialView", Model.RegLogViewModel)*@
            @*<script>

    const qty = document.getElementById('qty');
    const sum = document.getElementById('sum');
    const price = document.getElementById('price');
    price.addEventListener('click', function () {
        price.innerText = "zmiana ceny";
    })
    console.log(sum)
    console.log(price)

    changeSum = function (price, qty) {
        const newValue = price * qty;
        sum.value = newValue;
        return sum;
    }
    console.log(changeSum(3,4))
    changeSum(2, 40)
    qty.addEventListener('click', changeSum(@Model.Price, qty.innerText));
            </script>*@

            @await Html.PartialAsync("Main/_ScriptsPartialView")
