@model Event
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("Main/_PreloaderPartialView")
@await Html.PartialAsync("Main/_HeaderPartialView")
<!-- BLOG HEADER -->
<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>@Model.Title</h2>
            </div>

        </div>
    </div>
</section>


<!-- BLOG DETAIL -->
<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <!-- BLOG THUMB -->
                <div class="blog-detail-thumb">
                    @*<div class="blog-image">
                        <img src="images/blog-detail-image.jpg" class="img-responsive" alt="Blog Image">
                    </div>*@

                    <h2>@Model.Description</h2>
               
                    @Html.Raw(Model.Info)
                 
                    <div class="table-responsive">
                        <div >
                            <h3>Dodaj do koszyka</h3>
                        </div>

                        <form asp-action="Details" asp-controller="Order">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Price" />
                            <input type="hidden" asp-for="Title" />
                            <table class="table table-hover table-striped tm-table-striped-even mt-3" id="tab">
                                <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col">Nazwa</th>
                                        <th scope="col">Cena</th>
                                        <th scope="col">Ilość</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Razem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="position">
                                        <th scope="row">
                                            @Model.Title
                                        </th>
                                        <td class="tm-product-name price"><input type="hidden" asp-for="@Model.Price" />@Model.Price</td>
                                        <td class="tm-product-name qty"><input type="number" step="1" min="1" id="qty" value="1" asp-for="@Model.Quantity" />@*<input type="number" min="1" step="1" asp-for="@Model." />*@</td>
                                        <td class="tm-product-name">&nbsp;</td>
                                        <td class="tm-product-name">&nbsp;</td>
                                        <td class="tm-product-name">&nbsp;</td>
                                        @*<td class="tm-product-name "><input type="checkbox" asp-for="@detail.Camera" /> 50 zł</td>*@
                                        <td class="tm-product-name part_sum">@Model.Price</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td class="bg-light" scope="col">&nbsp;</td>
                                        <td scope="col" class="bg-warning"><b>Suma:</b></td>
                                        <td scope="col" class="bg-success"><b id="sum">@Model.Price</b></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <div class="col-12">
                                  
                                        <button type="submit" class="btn btn-info">Dodaj do koszyka</button>
                    
                                   
                                        <a href="javascript:history.back()" class="btn btn-primary">Wstecz</a>
                               
                                </div>
                            </div>

                        </form>

                    </div>






                    
                </div>
            </div>
         </div>
    </div>
</section>
            @*@await Html.PartialAsync("Main/_ContactPartialView")*@
            @await Html.PartialAsync("Main/_FooterPartialView")




            @*@await Html.PartialAsync("Main/_ModalPartialView", Model.RegLogViewModel)*@
            @*<script>

    const qty = document.getElementById('qty');
    const sum = document.getElementById('sum');
    const price = document.getElementById('price');
    price.addEventListener('click', function () {
        price.innerText = "zmiana ceny";
    })
    console.log(sum)
    console.log(price)

    changeSum = function (price, qty) {
        const newValue = price * qty;
        sum.value = newValue;
        return sum;
    }
    console.log(changeSum(3,4))
    changeSum(2, 40)
    qty.addEventListener('click', changeSum(@Model.Price, qty.innerText));
            </script>*@

            @await Html.PartialAsync("Main/_ScriptsPartialView")
