@model IList<Event>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<body class="bg02">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block">Wydarzenia</h2>

                </div>
                <div class="col-md-4 col-sm-12 text-right">
                    <a asp-action="AddEdit" class="btn btn-small btn-primary">Dodaj</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped tm-table-striped-even mt-3">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Czas trwania</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Data dodania</th>
                            <th scope="col">Edycja</th>
                            <th scope="col">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var lp = 1;}
                        @foreach (var item in Model)
                        {
                            
                        <tr>
                            <th scope="row">
                                @lp  @*<input type="checkbox" aria-label="Checkbox">*@
                            </th>
                            @{ lp++;}
                            <td class="tm-product-name">
                                    @item.Title
                            </td>

                            <td class="tm-product-name">@item.Duration</td>
                            <td class="tm-product-name">@item.Price</td>
                            <td class="tm-product-name">@item.CreateData.ToShortDateString()</td>
                            <td><a asp-action="AddEdit" asp-controller="Event" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a></td>
                            <td><a asp-action="Remove" asp-controller="Event" asp-route-id="@item.Id" onclick="return confirm('Czy chcesz usunąć plan?')"><i class="fas fa-trash-alt tm-trash-icon"></i></a></td>

                        </tr>
                            
                         }
                        </tbody>
                </table>
            </div>

            @*<div class="tm-table-mt tm-table-actions-row">
                <div class="tm-table-actions-col-left">
                    <button class="btn btn-danger">Delete Selected Items</button>
                </div>
                <div class="tm-table-actions-col-right">
                    <span class="tm-pagination-label">Page</span>
                    <nav aria-label="Page navigation" class="d-inline-block">
                        <ul class="pagination tm-pagination">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <span class="tm-dots d-block">...</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">13</a></li>
                            <li class="page-item"><a class="page-link" href="#">14</a></li>
                        </ul>
                    </nav>
                </div>
            </div>*@
        </div>
    </div>
</body>


